.home {
    padding: 10px;
}

.tagItem,
.number {
    max-width: 600px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
}

label,
input,
select {
    margin: 10px;

}

.pageChange {
    margin: 10px;
}

.pageChange :hover {
    cursor: pointer;
}

.pagination, a {
    color: black;
  
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination  :hover {
    background-color: #ddd;
}